<% include Partials/header.ejs %>

<!-- Page content-->
<div class="container-fluid">
  <h1 class="mt-4">Xóa nhân viên</h1>
  <form action="/xoa" method="post">
    Tên nv muon xoa : <input type="text" name="txtTen" class="form-control" /> <br />
    <input type="submit" value="Xóa" class="btn btn-danger"/>
  </form>
</div>

<% include Partials/footer.ejs %>
